body {
    font-family: Arial;
    margin: 0;
    background: #e8e8e8;
}

#patientVisitTable{
    margin-left: auto;
    margin-right:auto;
}

.visitInput{
    text-align: center;
}

input[type=submit]{
    background-color: #c9c9c9;
    font-size: 14px;
    color:black;
    font-weight:500;
}

input[type=submit]:hover{
    background-color: #a3a3a3;
    color:white;
}