body {
    font-family: Arial;
    margin: 0;
    background: #00395c;

}

.header {
    text-align: center;
    color: white;
    font-size: 20px;
}

.clinicLogo {
    padding-left: 0.5%;
    float: left;
    width: 30%
    height: 30%
    opacity: 0.5;
    border-radius: 2px;
    border: 1px solid #214b80;
}

.topParagraph {
    padding-top: 0.2%;
    margin: 0px;
    font-weight: 800;
    text-align: center;
    color: #DAA520;
}

.wrap {
    width: 100%;
    text-align: center;
    display: table;
    height: 700px;
}

a.navi {
  color: white;
  text-align: left;
  text-decoration: none;
  display:inline-block;
  width:100%;
  height:100%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-bottom: 1px solid black;
}

a.navi:hover{
    background-color:#00275e;
}

.fleft {
    width: 15%;
    height: 100%;
    display: inline-block;
}

.fright {

    width: 82%;
    height:100%;
    float:right;
    display: table-cell;
}

.fright iframe{
    height:100%;
    width:100%;
    border: none;
}


.nav-group {
    text-decoration: none;
    color: white;
    cursor: pointer;
    float: left;
    color: white;
    font-weight: 800;
    vertical-align:top;
}