body {
    font-family: Arial;
    margin: 0;

}

.header {
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}
.wrap {
    width: 100%;
    text-align: center;
    display: table;
    height: 700px;
}

.fleft {
    width: 20%;
    background-color: lightblue;
    display: table-cell;
}

.fright {
    background-color: lightgreen;
    width: 80%;
    height:100%;
    display: table-cell;
}

.fright iframe{
    height:100%;
    width:100%;
    border: none;
}


.btn-group button {
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    width: 70%;
    margin: 8%;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

.addDoctor {
    padding: 10px 12px;
    border: 1px solid black;
    margin: 20px 10px 20px 20px;
    width: 38%;
    float: left;
}

.deleteDoctor {
    padding: 10px 12px;
    margin: 20px 10px 0px 10px;
    border: 1px solid black;
    width: 20%;
    float: left;
}

.editDoctor {
    padding: 10px 12px;
    margin: 20px 0px 0px 10px;
    border: 1px solid black;
    width: 20%;
    float: left;
}