body{
    background:#e8e8e8;
}

.container{
  display: flex;
  justify-content: center;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input, label {
    margin: .4rem 0;
}

input[type=submit]{
    background-color: #c9c9c9;
    font-size: 14px;
    color:black;
    font-weight:500;
}

input[type=submit]:hover{
    background-color: #a3a3a3;
    color:white;
}