body {
    font-family: Arial;
    margin: 0;
    background: #e8e8e8;
}

.button {
    margin-left: 20px;
}

.id_size {
    width: 30px;
}

.text_size {
    width: 150px;
}

.pesel_size {
    width: 90px;
}

.tel_size {
    width: 70px;
}

.email_size {
    width: 250px;
}

.post_size {
    width: 70px;
}

.city_size {
    width: 100px
}

input[type=submit]{
    background-color: #c9c9c9;
    font-size: 14px;
    color:black;
    font-weight:500;
}

input[type=submit]:hover{
    background-color: #a3a3a3;
    color:white;
}