<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/addVisitPatient.css">
    <title>Add Visit Patient</title>
</head>
<body>

<form action="#" th:action="@{/addVisitPatient}" method="post">

    <table id="patientVisitTable" border="1" style="width:50%">
        <thead>
        <tr>
            <th>Data:</th>
            <th>Godzina:</th>
            <th>Pacjent: </th>
        </tr>
        </thead>
        <tr th:each="visit : ${visitList}">
            <td><p th:text="${visit.visitDate}"></p></td>
            <td><p th:text="${visit.visitTime}"></p></td>
            <td><p th:text="${visit.patientName} + '  ' + ${visit.patientLastName}"></p></td>
        </tr>
    </table> <br><br><br>

<div class="visitInput">
    <input type="text" th:field="${patient.firstName}" name="field1" placeholder="Imie Pacjenta"/><br><br>
    <input type="text" th:field="${patient.lastName}" name="field1" placeholder="Nazwisko Pacjenta"/><br><br>
    <textarea name="field" th:field="${patient.opis}"
              placeholder="Wprowadź opis wizyty"></textarea><br><br>
    <input type="submit" value="Wyślij"/>
</div>

</form>


</body>
</html>