<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/adminFramePanel.css">
</head>
<body>

<div class="container">
    <img src="images/patientadmin.jpg" style="width:100%">
    <a href="patients"><button class="btn1">Pacjenci</button></a>
    <img src="images/doctorsadmin.jpg" style="width:100%">
    <a href="doctors"><button class="btn2">Lekarze</button></a>
    <img src="images/researchadmin.jpg" style="width:100%">
    <a href="researchList"><button class="btn3">Badania/Zabiegi</button></a>
</div>


</body>
</html>