<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <title>PAB Zdrowie - Rezonans | RTG | Diagnostyka | Laboratorium</title>
</head>
<body>
<div class="top_container">
    <a href="index">
        <img src="images/pab_clinic_logo.jpg" alt="Clinic logo" title="PAB CLINIC">
    </a>
</div>
<div class="header" id="myHeader">
    <a class="home" href="index">STRONA GŁÓWNA</a>
    <a href="services">USŁUGI</a>
    <a href="prices">CENNIK</a>
    <a class="vip" href="vipatient">VIPACJENT</a>
    <a href="contact">KONTAKT</a>
    <a class="rejestracja" href="login">REJESTRACJA ON-LINE</a>
    <input type="text" placeholder="Szukaj">
</div>

<div class="slideshow-container">

    <div class="mySlides fade">
        <img src="images/slider-1.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img src="images/slider-2.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img src="images/slider-3.jpg" style="width:100%">
    </div>
    <div class="box3">
        <div class="text">
            <h2>Godziny otwarcia:</h2>
            <u>Oddział Poznań:</u>
            </br>
            Poniedziałek - Czwartek:
            <b>8:00 - 20:00</b>
            </br>
            Piątek:
            <b>8:00 - 18:00</b>
            </br>
            Punkt pobrań: Wtorek, Czwartek:
            <b>7:30 - 10:00</b>
            </br>
            </br>
            <u>Oddział Katowice:</u>
            </br>
            Poniedziałek - Wtorek:
            <b>7:30 - 21:30</b>
            </br>
            Czwartek - Piątek:
            <b>8:00 - 18:00</b>
            </br>
            </br>
            Sroda:
            <b><a href="login">E-Rejestracja</a></b>
        </div>
    </div>
    <div class="box2">
        <h2>Przed zabiegiem operacyjnym:</h2>
        <div class="text">
            <ul>
                <li>
                    <a href="/upload/ankieta_anestezjologiczna.pdf" download>Pobierz i wypełnij ankietę
                        anastezjologiczną</a>
                </li>
                <li>
                    <a href="/upload/wywiad_epidem.pdf" download>Pobierz i wypełnij formularz "wywiad
                        epidemiologiczny"</a>
                </li>
                <li>
                    <a href="/upload/oswiadczenie_pacjenta.pdf" download>Pobierz i wypełnij formularz "oświadczenie
                        pacjenta”</a>
                </li>
                <li>
                    Wyślij wypełnione dokumenty oraz wyniki badań laboratoryjnych na adres
                    <a href="mailto:pabclinica@gmail.com">pabclinica@gmail.com</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="box1">
        <h2>Numery kontaktowe:</h2>
        <b>Mammografia i wizyty prywatne:</b>
        <ul>
            <li>Poznań: 61 652 52 02</li>
            <li>Katowice: 32 652 00 02</li>
        </ul>
        <b>Lekarz rodzinny i specjaliści NFZ:</b>
        22 652 52 03
        </br>
        <b>Pielęgniarka ambolatorium:</b>
        538 852 555
        </br>
        <b>Konsultacje przed operacjami:</b>
        672 612 340
        </br>
        <b>Położna środowiskowa:</b>
        791 400 112
    </div>
</div>

<div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
</div>

<div class="container_service">
    <div class="one">
        <a href="prices">
            <img src="images/cennik.jpg" alt="cennik">
        </a>
    </div>
    <div class="second">
            <a href="cennik">Cennik</a>
    </div>
    <div class="two">
        <a href="services">
            <img src="images/cennik.jpg" alt="usługi">
        </a>
    </div>
    <div class="second">
            <a href="services">Usługi</a>
    </div>
    <div class="three">
        <a href="prices">
            <img src="images/cennik.jpg" alt="kontakt">
        </a>
    </div>
    <div class="second">
            <a href="contact">Kontakt</a>
    </div>
</div>


<div class="box_container">
    <ul class="vertical-align">
        <li class="vertical-align-cell">
            <h2>Skorzystaj z bezpłatnej rejestracji online!</h2>
            <p>W związku z licznymi zgłoszeniami o trudnościach w dodzwonieniu się na telefony kontaktowe podane na
                stronie <a href="index">pabclinic.pl</a>
                informujemy, że dla poprawy jakości obsługi telefonicznej będziemy telefonicznie udzielać informacji,
                jak zarejestrować się <strong>online</strong>. Informacje na temat dostępności lekarzy, wyników badań,
                koniecznego przygotowania się do zabiegów i badań oraz praktycznie wszystkie inne są umieszczone na
                stronie <a href="index">pabclinic.pl</a>.
                Dzięki <strong>całodobowej rejestracji online</strong> automatycznie otrzymasz proponowaną datę wizyty,
                wiadomość sms przypominającą o wizycie, historie wizyt, a także będziesz miał dostęp do swoich wyników
                badań diagnostycznych.
            </p>
        </li>
        <li class="vertical-align-cell color">
            <a class="more" href="registration" title="ZAREJESTRUJ SIĘ DZIŚ!">ZAREJESTRUJ SIĘ DZIŚ!</a>
        </li>
    </ul>
</div>

<div class="stopka_container">
    <div class="stopka_left">
        <img src="images/stopka_zdjecie.jpg">
    </div>
    <div class="stopka_right">
        <div class="empty_box_stopka"></div>
        <span><b style="color:white;">OGÓLNOPOLSKIE CENTRA MEDYCZNE PAB CLINIC</b></span>
        <div class="empty_box_stopka"></div>
        <div class="oddzial_poznan">
            <span><u>Oddział Poznań:</u></span>
            <p>Ul. Limanowskiego 10/2<br>60-768 Poznań</p>
            <span>Przychodnia:</span><br><br>
            <p>Poniedziałek – Czwartek: <b>8:00 – 20:00</b><br>
                Piątek: <b>8:00 – 18:00</b><br><br></p>
            <span>Laboratorium</span><br>
                Czwartek - Piątek: <b>10:00 – 18:00</b><br><br></p>
            <span>Laboratorium</span><br>
            <p> Środa <b>7:30 - 15:00</b><br>
                Piątek <b>8:00 - 10:00</b></p>
        </div>
        <p><a href="registration">Zarejestruj</a> się na wizytę.</p>
    </div>
    <div class="stopka_bottom">
        <a href="privacy_policy" style="color:white;">Polityka prywatności</a>
    </div>
</div>

<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}


var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 5000); // Change image every 2 seconds
}






























</script>
</body>
</html>