<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<form action="#" th:action="@{/kalendarz}" method="post">
    <input type="date" name="datePick" th:field="${visit.visitDate}"
           value="2021-02-07"
           min="2021-01-01" max="2021-12-31">
    <form name="f" th:object="${doctorForm}" method="POST">
        <table>
            <tr>
                <td>Wybierz Lekarza</td>
                <td>
                    <select th:field="*{doctor_ID}">
                        <option value=""> --</option>
                        <option th:each="doctor:${doctors}"
                                th:value="${doctor.doctor_ID}"
                                th:utext="${doctor.firstName}+'  '+${doctor.lastName}+' - '+${doctor.specialisation}"/>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="Wybierz" name="saveDate">
                </td>
            </tr>
        </table>

    </form>
</form>
</body>
</html>