<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="loginStyle.css">
    <title>PAB Zdrowie - Rezonans | RTG | Diagnostyka | Laboratorium</title>
</head>
<body>
<div class="top_container">
    <a href="index">
        <img src="images/pab_clinic_logo.jpg" alt="Clinic logo" title="PAB CLINIC">
    </a>
</div>
<div class="top_nav" id="my_top_nav">
    <a class="home" href="index">STRONA GŁÓWNA</a>
    <a href="services">USŁUGI</a>
    <a href="prices">CENNIK</a>
    <a class="vip" href="vipatient">VIPACJENT</a>
    <a href="contact">KONTAKT</a>
    <a class="rejestracja" href="login">REJESTRACJA ON-LINE</a>
    <input type="text" placeholder="Szukaj">
</div>

<div class="imgcontainer">
    <img src="images/avatar.png" alt="Avatar" class="avatar">
</div>

<form action="#" th:action="@{/login}" method="post">
    <div class="container">
        <label class="label"><b>Login:</b></label>
        <input type="text" th:field="${patientLogin.login}" placeholder="Podaj Login" required>
    </div>
    <div class="container">
        <label class="label"><b>Hasło:</b></label>
        <input type="password" th:field="${patientLogin.password}" placeholder="Podaj hasło" required>
    </div>
    <div class="button">
        <button type="submit">Zaloguj</button>
    </div>
    <div class="registration-link">
        <a href="registration">Załóż konto</a>
        <a href="forgotpassword">Zapomniałem hasła</a>
    </div>
</form>

</body>
</html>