<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="adminStyle.css">
</head>
<body>

<div class="header">
    <h1>Strona Administratora</h1>
    <p>Zarządzanie użytkownikami oraz ich danymi</p>
</div>

<div class="wrap">

    <div class="fleft">
        <div class="btn-group">
            <button><a href="patientList" target="ramkaStrona">Pacjenci</a></button>
            <button><a href="doctorList" target="ramkaStrona">Lekarze</a></button>
            <button><a href="researchList" target="ramkaStrona">Zabiegi</a></button>
        </div>
    </div>

    <div class="fright">

        <iframe src="index" name="ramkaStrona"></iframe>

    </div>
</div>

</body>
</html>