<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/doctorStyle.css">
</head>
<body>

<div class="header">
    <a href="pageDoctor">
        <img class="clinicLogo" src="images/pab_mini_logo2.png" alt="Clinic logo" title="PAB CLINIC">
    </a>
    PANEL LEKARZA
</div>

<div class="wrap">
    <div class="fleft">
        <div class="nav-group">
            <a class="navi" href="addVisitPatient" target="ramkaStrona">Pacjenci</a>
            <a class="navi" href="researchList" target="ramkaStrona">Zabiegi</a>
            <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
                <input type="submit" value="Logout" />

            </form>
            <a class="navi" href="javascript: document.logoutForm.submit()">Logout</a>

        </div>
    </div>
    <div class="fright">
        <iframe src="doctorFramePanel" name="ramkaStrona"></iframe>

    </div>
</div>

</body>
</html>