<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="doctorStyle.css">
</head>
<body>

<div class="header">
    <h1>Strona Lekarza</h1>
    <p>Panel lekarza, możliwoość dodawania historii chorób.</p>
</div>

<div class="wrap">
    <div class="fleft">
        <div class="btn-group">
            <button>Pacjenci</button>
            <button>Zmień hasło</button>

        </div>
    </div>
    <div class="fright">
        <iframe name="Strona w stronie" src="https://www.focusnauka.pl/"></iframe>

    </div>
</div>

</body>
</html>