<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/patientFramePanel.css">
</head>
<body>

<div class="container">
  <img src="images/umowwizyte.jpg" style="width:100%">
    <a href="kalendarz"><button class="btn1">Umów Wizytę</button></a>
    <img src="images/historiawizyt.jpg" style="width:100%">
    <a href="patientHistory"><button class="btn2">Historia Wizyt</button></a>
</div>


</body>
</html>