<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/patientEditStyle.css">
</head>
<body>

<table>
    <h2 style="margin: 20px">Kliknij na pole, które chcesz edytować</h2>
</table>

<form action="#" th:action="@{/patientList}" method="post">
    <table border="1" style="width:50%; margin: 20px; text-align: center">
        <thead>
        <tr>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Login</th>
            <th>Haslo</th>
            <th >Email</th>
            <th >Numer telefonu</th>
            <th>Pesel</th>
            <th>Adres</th>
            <th>Kod pocztowy</th>
            <th>Miasto</th>
            <th>Id</th>
        </tr>
        </thead>
        <tr>
            <td>
                <input class="text_size" type="text" th:field="${patient.firstName}">
            </td>
            <td>
                <input class="text_size" type="text" th:field="${patient.lastName}">
            </td>
            <td>
                <input class="text_size" type="text" th:field="${patient.login}">
            </td>
            <td>
                <input class="text_size" type="text" th:field="${patient.password}">
            </td>
            <td>
                <input class="email_size" type="email" th:field="${patient.email}">
            </td>
            <td>
                <input class="tel_size" type="tel" th:field="${patient.telephoneNumber}">
            </td>
            <td>
                <input class="pesel_size" type="tel" th:field="${patient.pesel}">
            </td>
            <td>
                <input class="text_size" type="text" th:field="${patient.address}">
            </td>
            <td>
                <input class="post_size" type="text" th:field="${patient.postCode}">
            </td>
            <td>
                <input class="city_size" type="text" th:field="${patient.city}">
            </td>
            <td><input class="id_size" type="text" th:field="${patient.user_id}" readonly>
        </tr>
    </table>
    <br>

    <input style="margin-left: 20px" type="submit" value="Zapisz" name="savePatient">
</form>

</body>
</html>