<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/patientStyle.css">
</head>
<body>
<script type="text/javascript" src="js/patientList.js"></script>

<div class="addPatient">
    <h3>DODANIE PACJENTA</h3>
    <form action="#" th:action="@{/patients}" method="post">
        <label>Imię: </label>
        <input type="text" th:field="${patient.firstName}" placeholder="Wymagane">
        <label> Nazwisko: </label>
        <input type="text" th:field="${patient.lastName}" placeholder="Wymagane"><br><br>
        <label>Login: </label>
        <input type="text" th:field="${patient.login}" placeholder="Wymagane">
        <label> Hasło: </label>
        <input type="password" th:field="${patient.password}" placeholder="Wymagane"><br><br>
        <label>E-mail: </label>
        <input type="email" th:field="${patient.email}" placeholder="Wymagane"><br><br>
        <label>Numer telefonu: </label>
        <input type="tel" th:field="${patient.telephoneNumber}" pattern="[0-9]{9}" name="phone">
        <small> Format: 123456789</small><br><br>
        <label>Numer PESEL: </label>
        <input type="tel" th:field="${patient.pesel}" pattern="[0-9]{11}">
        <small> Format: 11 liczb</small><br><br>
        <label>Adres zamieszkania: </label>
        <input type="text" th:field="${patient.address}" placeholder="Wymagane"><br><br>
        <label>Kod pocztowy: </label>
        <input type="text" th:field="${patient.postCode}" placeholder="Wymagane">
        <label> Miasto: </label>
        <input type="text" th:field="${patient.city}" placeholder="Wymagane"><br>
        <br><input type="submit" value="Dodaj pacjenta" name="addPatient">
    </form>
</div>

<div class="deletePatient">
    <h3>USUNIĘCIE PACJENTA</h3>
    <table>
        <form action="#" th:action="@{/patients}" method="post">
            <label>Podaj ID pacjenta, którego chcesz usunąć:</label><br>
            <input type="text" th:field="${patient.user_id}"><br>
            <br><input type="submit" value="Usuń pacjenta" name="deletePatient">
        </form>
    </table>
</div>

<div class="editPatient">
    <h3>EDYCJA PACJENTA</h3>
    <table>
        <form action="#" th:action="@{/patients}" method="post">
            <label>Podaj ID pacjenta, którego dane chcesz edytować:</label><br>
            <input type="text" th:field="${patient.user_id}"><br>
            <br><input type="submit" value="Edycja" name="editPatient">
        </form>
    </table>
</div>

<table id="patientTable" border="1" style="width:50%">
    <thead>
    <tr>
        <th>Imie</th>
        <th>Nazwisko</th>
        <th>Email</th>
        <th>Numer telefonu</th>
        <th>Pesel</th>
        <th>Adres</th>
        <th>Kod pocztowy</th>
        <th>Miasto</th>
        <th>Id</th>
    </tr>
    </thead>
    <tr th:each="patient : ${patients}">
        <td><p th:text="${patient.firstName}"></p></td>
        <td><p th:text="${patient.lastName}"></p></td>
        <td><p th:text="${patient.email}"></p></td>
        <td><p th:text="${patient.telephoneNumber}"></p></td>
        <td><p th:text="${patient.pesel}"></p></td>
        <td><p th:text="${patient.address}"></p></td>
        <td><p th:text="${patient.postCode}"></p></td>
        <td><p th:text="${patient.city}"></p></td>
        <td><p th:text="${patient.user_id}"></p></td>
    </tr>
</table>

</body>

<script>
    var filtersConfig = {
  // instruct TableFilter location to import ressources from
  base_path: 'https://unpkg.com/tablefilter@latest/dist/tablefilter/',
<!--  col_1: 'select',-->
<!--  col_2: 'select',-->
<!--  col_3: 'select',-->
  alternate_rows: true,
  rows_counter: true,
  btn_reset: true,
  loader: true,
  mark_active_columns: true,
  highlight_keywords: true,
  no_results_message: true,
  col_types: [
    'string', 'string', 'string',
    'number', 'number', 'string',
    'string', 'string', 'number'
  ],

  col_widths: [
    '150px', '150px', '250px',
    '100px', '125px', '150px',
    '85px', '100px', '60px'
  ],
  extensions: [{
    name: 'sort',
    images_path: 'https://unpkg.com/tablefilter@latest/dist/tablefilter/style/themes/'
  }]
};

var tf = new TableFilter('patientTable', filtersConfig);
tf.init();



</script>
</html>