<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/patientHistory.css">
</head>
<body>
<script type="text/javascript" src="js/patientList.js"></script>

<table id="patientTable" border="1" style="width:50%">
    <thead>
    <tr>
        <th>Data wizyty</th>
        <th>Imię lekarza</th>
        <th>Nazwisko lekarza</th>
        <th>Opis wizyty</th>

    </tr>
    </thead>
    <tr th:each="visit : ${patientVisits}">
        <td><p th:text="${visit.visitDate}"></p></td>
        <td><p th:text="${visit.doctorName}"></p></td>
        <td><p th:text="${visit.doctorLastName}"></p></td>
        <td><p th:text="${visit.visitDescription}"></p></td>

    </tr>
</table>

</body>

<script>
    var filtersConfig = {
  // instruct TableFilter location to import ressources from
  base_path: 'https://unpkg.com/tablefilter@latest/dist/tablefilter/',
<!--  col_1: 'select',-->
<!--  col_2: 'select',-->
<!--  col_3: 'select',-->
  alternate_rows: true,
  rows_counter: true,
  btn_reset: true,
  loader: true,
  mark_active_columns: true,
  highlight_keywords: true,
  no_results_message: true,
  col_types: [
    'string', 'string', 'string',
    'number', 'number', 'string',
    'string', 'string', 'number'
  ],

  col_widths: [
    '150px', '150px', '250px',
    '100px', '125px', '150px',
    '85px', '100px', '60px'
  ],
  extensions: [{
    name: 'sort',
    images_path: 'https://unpkg.com/tablefilter@latest/dist/tablefilter/style/themes/'
  }]
};

var tf = new TableFilter('patientTable', filtersConfig);
tf.init();



</script>
</html>