<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/stylePrices.css">
    <title>PAB Zdrowie - Rezonans | RTG | Diagnostyka | Laboratorium</title>
</head>
<body>

<script type="text/javascript" src="patientList.js"></script>

<div class="top_container">
    <a href="index">
        <img src="images/pab_clinic_logo.jpg" alt="Clinic logo" title="PAB CLINIC">
    </a>
</div>
<div class="top_nav" id="my_top_nav">
    <a class="home" href="index">STRONA GŁÓWNA</a>
    <a href="services">USŁUGI</a>
    <a href="prices">CENNIK</a>
    <a class="vip" href="vipatient">VIPACJENT</a>
    <a href="contact">KONTAKT</a>
    <a class="rejestracja" href="login">REJESTRACJA ON-LINE</a>
    <input type="text" placeholder="Szukaj">
</div>

<div class="mid_container">

    <div class="mid_container_top"><span>Nasz aktualny cennik</span></div>


    <table id="researchTable" border="1" style="width:50%">
        <thead>
        <tr>

            <th>Id badania</th>
            <th>Nazwa badania</th>
            <th>Cena badania (w zł)</th>

        </tr>
        </thead>
        <tbody>

        <tr th:each="research : ${researchList}">

            <td><a th:text="${research.badanie_id}"></a></td>
            <td><a th:text="${research.nazwaBadania}"></a></td>
            <td><a th:text="${research.cenaBadania}"></a></td>

        </tr>

        </tbody>
    </table>

<!--    <img src="images/prices.png" alt="cennik badan" title="Cennik">-->


</div>


<div class="stopka_container">
    <div class="stopka_left">

        <img src="images/stopka_zdjecie.jpg">


    </div>
    <div class="stopka_right">
        <div class="empty_box_stopka"></div>
        <span><b style="color:white;">OGÓLNOPOLSKIE CENTRA MEDYCZNE PAB CLINIC</b></span>
        <div class="empty_box_stopka"></div>

        <div class="oddzial_poznan">
            <span><u>Oddział Poznań:</u></span>
            <p>Ul. Limanowskiego 10/2<br>60-768 Poznań</p>
            <span>Przychodnia:</span><br><br>
            <p>Poniedziałek – Czwartek: <b>8:00 – 20:00</b><br>
                Piątek: <b>8:00 – 18:00</b><br><br></p>
            <span>Laboratorium</span><br>
            <p>Wtorek: <b>7:30 – 10:00</b><br>
                Czwartek: <b>7:30 – 10:00</b></p>
        </div>

        <div class="oddzial_katowice">
            <span><u>Oddział Katowice:</u></span>
            <p>Ul. Kościuszki 92<br>40-523 Katowice</p>
            <span>Przychodnia:</span><br><br>
            <p>Poniedziałek – Wtorek: <b>7:30 – 21:30</b><br>
                Czwartek - Piątek: <b>10:00 – 18:00</b><br><br></p>
            <span>Laboratorium</span><br>
            <p> Środa <b>7:30 - 15:00</b><br>
                Piątek <b>8:00 - 10:00</b></p>
        </div>

        <p><a href="registration">Zarejestruj</a> się na wizytę.</p>

    </div>
    <div class="stopka_bottom">

        <a href="privacy_policy" style="color:white;">Polityka prywatności</a>

    </div>


</div>

</body>


<script>
    var filtersConfig = {
  // instruct TableFilter location to import ressources from
  base_path: 'https://unpkg.com/tablefilter@latest/dist/tablefilter/',
<!--  col_1: 'select',-->
<!--  col_2: 'select',-->
<!--  col_3: 'select',-->
  alternate_rows: true,
  rows_counter: true,
  btn_reset: true,
  loader: true,
  mark_active_columns: true,
  highlight_keywords: true,
  no_results_message: true,
  col_types: [
    'string', 'string', 'string',
    'number', 'number', 'string',
    'string', 'string', 'number'
  ],

  col_widths: [
    '30px', '150px', '30px',
    '100px', '125px', '150px',
    '85px', '100px', '60px'
  ],
  extensions: [{
    name: 'sort',
    images_path: 'https://unpkg.com/tablefilter@latest/dist/tablefilter/style/themes/'
  }]
};

var tf = new TableFilter('doctorTable', filtersConfig);
tf.init();
</script>

</html>