<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styleRegistration.css">
    <title>PAB Zdrowie - Rezonans | RTG | Diagnostyka | Laboratorium</title>
</head>
<body>

<div class="top_container">
    <a href="index">
        <img src="images/pab_clinic_logo.jpg" alt="Clinic logo" title="PAB CLINIC">
    </a>
</div>
<div class="top_nav" id="my_top_nav">
    <a class="home" href="index">STRONA GŁÓWNA</a>
    <a href="services">USŁUGI</a>
    <a href="prices">CENNIK</a>
    <a class="vip" href="vipatient">VIPACJENT</a>
    <a href="contact">KONTAKT</a>
    <a class="rejestracja" href="login">REJESTRACJA ON-LINE</a>
    <input type="text" placeholder="Szukaj">
</div>

<form action="#" th:action="@{/registration}" method="post">

    <table align="center">
        <tr>
            <td colspan="3" style="text-align:center;">DANE PODSTAWOWE</td>
        </tr>
        <tr>
            <td><br></td>
        </tr>
        <tr>
            <td>Imię:</td>
            <td>
                <input type="text" th:field="${patient.firstName}" placeholder="Wymagane">
            </td>
        </tr>
        <tr>
            <td>Nazwisko:</td>
            <td>
                <input type="text" th:field="${patient.lastName}" placeholder="Wymagane">
            </td>
        </tr>

        <tr>
            <td>Użytkownik:</td>
            <td>
                <input type="text" th:field="${patient.login}" placeholder="Wymagane">
            </td>
        </tr>
        <tr>
            <td>Hasło:</td>
            <td>
                <input type="password" th:field="${patient.password}" placeholder="Twoje hasło:">
            </td>
            <td>
                Wymagane.
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
                <input type="email" th:field="${patient.email}" placeholder="Wymagane">
            </td>

        </tr>
        <tr>
            <td>Telefon kontaktowy:</td>
            <td>
                <input type="tel" th:field="${patient.telephoneNumber}" pattern="[0-9]{9}" name="phone">
                <small>Format: 123456789</small>
            </td>
        </tr>
        <tr>
            <td>Pesel:</td>
            <td>
                <input type="tel" th:field="${patient.pesel}" pattern="[0-9]{11}">
                <small>Format: 11 liczb</small>
            </td>
        </tr>
        <tr>
            <td><br></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:center;">ADRES ZAMIESZKANIA</td>
        </tr>
        <tr>
            <td><br></td>
        </tr>
        <tr>
            <td>Adres zamieszkania:</td>
            <td>
                <input type="text" th:field="${patient.address}" placeholder="Wymagane">
            </td>
        </tr>
        <tr>
            <td>Kod pocztowy:</td>
            <td>
                <input type="text" th:field="${patient.postCode}" placeholder="Wymagane">
            </td>
        </tr>
        <tr>
            <td>Miejscowość:</td>
            <td>
                <input type="text" th:field="${patient.city}" placeholder="Wymagane">
            </td>
        </tr>
        <tr>
            <td><br></td>
        </tr>

        <td colspan="3" align="center"><input type="submit" value="Załóż konto"></td>

    </table>


</form>

<div class="stopka_container">
    <div class="stopka_left">

        <img src="images/stopka_zdjecie.jpg">


    </div>
    <div class="stopka_right">
        <div class="empty_box_stopka"></div>
        <span><b style="color:white;">OGÓLNOPOLSKIE CENTRA MEDYCZNE PAB CLINIC</b></span>
        <div class="empty_box_stopka"></div>

        <div class="oddzial_poznan">
            <span><u>Oddział Poznań:</u></span>
            <p>Ul. Limanowskiego 10/2<br>60-768 Poznań</p>
            <span>Przychodnia:</span><br><br>
            <p>Poniedziałek – Czwartek: <b>8:00 – 20:00</b><br>
                Piątek: <b>8:00 – 18:00</b><br><br></p>
            <span>Laboratorium</span><br>
            <p>Wtorek: <b>7:30 – 10:00</b><br>
                Czwartek: <b>7:30 – 10:00</b></p>
        </div>

        <div class="oddzial_katowice">
            <span><u>Oddział Katowice:</u></span>
            <p>Ul. Kościuszki 92<br>40-523 Katowice</p>
            <span>Przychodnia:</span><br><br>
            <p>Poniedziałek – Wtorek: <b>7:30 – 21:30</b><br>
                Czwartek - Piątek: <b>10:00 – 18:00</b><br><br></p>
            <span>Laboratorium</span><br>
            <p> Środa <b>7:30 - 15:00</b><br>
                Piątek <b>8:00 - 10:00</b></p>
        </div>

        <p><a href="registration">Zarejestruj</a> się na wizytę.</p>

    </div>
    <div class="stopka_bottom">

        <a href="privacy_policy" style="color:white;">Polityka prywatności</a>

    </div>


</div>

</body>

</html>