<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/researchList.css">
</head>
<body>
<script type="text/javascript" src="patientList.js"></script>

<div class="addResearch">
    <h3>DODANIE BADANIA/ZABIEGU</h3>
    <form action="#" th:action="@{/researchList}" method="post">
        <label>Nazwa badania: </label>
        <input type="text" th:field="${research.researchName}" placeholder="Wymagane">
        <label> Cena badania: </label>
        <input type="number" th:field="${research.researchPrice}" placeholder="Wymagane"><br><br>
        <br><input type="submit" value="Dodaj badania/zabieg" name="addResearch">
    </form>
</div>

<table id="researchTable" border="1" style="width:50%">
    <thead>
    <tr>
        <th>Id badania</th>
        <th>Nazwa badania</th>
        <th>Cena badania (w zł)</th>
        <th>Usunięcie</th>
        <th>Edycja</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="research : ${researchList}">
        <td><p th:text="${research.research_id}"></p></td>
        <td><p th:text="${research.researchName}"></p></td>
        <td><p th:text="${research.researchPrice}"></p></td>
        <td style="text-align: center">
            <form th:action="@{deleteResearch}" method="post">
                <input type="hidden" name="researchName" th:value="${research.researchName}"/>
                <input type="submit" value="Delete" name="delete_researchName"/>
            </form>
        </td>
        <td style="text-align: center">
            <form th:action="@{editResearch}" method="post">
                <input type="hidden" name="researchName" th:value="${research.researchName}"/>
                <input type="submit" value="Edit" name="edit_research"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>

<script>
    var filtersConfig = {
  // instruct TableFilter location to import ressources from
  base_path: 'https://unpkg.com/tablefilter@latest/dist/tablefilter/',
<!--  col_1: 'select',-->
<!--  col_2: 'select',-->
<!--  col_3: 'select',-->
  alternate_rows: true,
  rows_counter: true,
  btn_reset: true,
  loader: true,
  mark_active_columns: true,
  highlight_keywords: true,
  no_results_message: true,
  col_types: [
    'string', 'string', 'string',
    'number', 'number', 'string',
    'string', 'string', 'number'
  ],

  col_widths: [
    '30px', '150px', '30px',
    '100px', '125px', '150px',
    '85px', '100px', '60px'
  ],
  extensions: [{
    name: 'sort',
    images_path: 'https://unpkg.com/tablefilter@latest/dist/tablefilter/style/themes/'
  }]
};

var tf = new TableFilter('researchTable', filtersConfig);
tf.init();




</script>
</html>