<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styleServices.css">
    <title>PAB Zdrowie - Rezonans | RTG | Diagnostyka | Laboratorium</title>
</head>
<body>
<div class="top_container">
    <a href="index">
        <img src="images/pab_clinic_logo.jpg" alt="Clinic logo" title="PAB CLINIC">
    </a>
</div>
<div class="top_nav" id="my_top_nav">
    <a class="home" href="index">STRONA GŁÓWNA</a>
    <a href="services">USŁUGI</a>
    <a href="prices">CENNIK</a>
    <a class="vip" href="vipatient">VIPACJENT</a>
    <a href="contact">KONTAKT</a>
    <a class="rejestracja" href="login">REJESTRACJA ON-LINE</a>
    <input type="text" placeholder="Szukaj">
</div>

<div class="mid_container">
    <div class="mid_pasek"></div>
    <div class="empty_box_stopka"></div>
    <span><b>Podstawowa Opieka Zdrowotna:</b></span>
    <div class="empty_box_stopka"></div>
    <ul>
        <li><b>Lekarz Rodzinny:</b> lek. med. Mateusz Borek, lek. med. Tomasz Smokowski, lek. med. Krzysztof Stanowski,
            lek. med. Michał Pol
        </li>
        <br>
        <li><b>Położna:</b> Zofia Puk
        </li>
        <br>
        <li><b>Pielęgniarka Środowiskowa:</b> Joanna Arcykoronna, Władysława Kowalska
        </li>
        <br>
    </ul>
    <div class="mid_pasek"></div>
    <div class="empty_box_stopka"></div>
    <span><b>Leczenie operacyjne</b> (w ramach NFZ i usług komercyjnych):</span>
    <ul>
        <li>Chirurgia (laparoskopia, leczenie guzów piersi chirurgiczne i mammotomem, leczenie przepuklin)</li>
        <br>
        <li>Ginekologia (biopsja piersi, histeroskopia i laparoskopia diagnostyczna i operacyjna, konizacja szyjki
            macicy, TOT- leczenie nietrzymania moczu)
        </li>
        <br>
        <li>Okulistyka (kanaliki łzowe, zaćmy)</li>
        <br>
        <li>Ortopedia (artroskopia kolana, leczenie zespołu kanału cieśni nadgarstka, leczenie palcy trzaskających,
            ostrzykiwanie osoczem bogatopłtykowym, zabiegi na kręgosłupie RFA)
        </li>
        <br>
        <li>Urologia (cystoskopia, TUR-P, TUR-B, leczenie stulejek, TOT- operacyjne leczenie nietrzymania moczu)</li>
    </ul>
    <div class="empty_box_stopka"></div>
    <div class="mid_pasek"></div>
    <div class="empty_box_stopka"></div>
    <span><b>Lekarza specjaliści</b> w ramach Poradni specjalistycznych NFZ oraz komercyjnie:</span>
    <ul>
        <li>Dermatolog: lek. med Anna Dermatologowa</li>
        <br>
        <li>Ginekolog: lek. med Radosław Majdan</li>
        <br>
        <li>Okulista: lek. med Edgar Davids</li>
        <br>
        <li>Ortopeda: lek. med Marcin Wasilewski</li>
        <br>
        <li>Psycholog: lek. med Katarzyna Selwant</li>
        <br>
        <li>Psychiatra: lek. med Tomasz Hajto</li>
        <br>
        <li>Laryngolog: prof. Franz Smuda</li>
        <br>
        <li>Neurolog: lek. med Peter Cech</li>
        <br>
        <li>Urolog: lek. med Ewelina Sterczewska</li>
    </ul>
    <div class="empty_box_stopka"></div>
    <div class="mid_pasek"></div>
    <div class="empty_box_stopka"></div>
    <span><b>Pracownia Diagnostyki Obrazowej</b> (w ramach NFZ i usług komercyjnych):</span>
    <ul>
        <li>cyfrowe RTG (tylko w Poznaniu)</li>
        <br>
        <li>cyfrowa mammografia- skrinningowa (50-70 rok życia lub ze skierowaniem od lekarza NFZ- bezpłatna)</li>
        <br>
        <li>HSG – histerosalpingografia</li>
        <br>
        <li>USG bioderek, kolana</li>
        <br>
        <li>USG ginekologiczne</li>
        <br>
        <li>USG piersi</li>
        <br>
        <li>USG położnicze 4D – archiwizacja DVD</li>
        <br>
        <li>USG tarczycy</li>
        <br>
        <li>USG układu moczowego</li>
        <br>
        <li>USG Doppler</li>
        <br>
        <li>USG jamy brzusznej</li>
        <br>

    </ul>


</div>
<div class="mid_container_right">

    <span>Przed zabiegiem operacyjnym:</span><br>
    <ul>
        <li><a href="upload/ankieta_anestezjologiczna.pdf">Pobierz i wypełnij ankietę anestezjologiczną</a></li>
        <li><a href="upload/wywiad_epidem.pdf">Pobierz i wypełnij formularz „wywiadu epidemiologicznego”</a></li>
        <li><a href="upload/oswiadczenie_pacjenta.pdf">Pobierz i wypełnij formularz „oświadczenie pacjenta”</a></li>
        <li><a href="upload/oswiadczenie_opiekuna.pdf">Oświadczenie o przysługującym prawie do opieki zdrowotnej</a>

        </li>
        <li>Wyślij wypełnione dokumenty oraz wyniki badań laboratoryjnych na adres <a href="mailto:pabclinica@gmail.com"
                                                                                      style="color:red">pabclinica@gmail.com</a>
        </li>
    </ul>
</div>


<div class="stopka_container">

    <div class="stopka_left">


        <img src="images/stopka_zdjecie.jpg">


    </div>
    <div class="stopka_right">
        <div class="empty_box_stopka"></div>
        <span><b style="color:white;">OGÓLNOPOLSKIE CENTRA MEDYCZNE PAB CLINIC</b></span>
        <div class="empty_box_stopka"></div>

        <div class="oddzial_poznan">
            <span><u>Oddział Poznań:</u></span>
            <p>Ul. Limanowskiego 10/2<br>60-768 Poznań</p>
            <span>Przychodnia:</span><br><br>
            <p>Poniedziałek – Czwartek: <b>8:00 – 20:00</b><br>
                Piątek: <b>8:00 – 18:00</b><br><br></p>
            <span>Laboratorium</span><br>
            <p>Wtorek: <b>7:30 – 10:00</b><br>
                Czwartek: <b>7:30 – 10:00</b></p>
        </div>

        <div class="oddzial_katowice">
            <span><u>Oddział Katowice:</u></span>
            <p>Ul. Kościuszki 92<br>40-523 Katowice</p>
            <span>Przychodnia:</span><br><br>
            <p>Poniedziałek – Wtorek: <b>7:30 – 21:30</b><br>
                Czwartek - Piątek: <b>10:00 – 18:00</b><br><br></p>
            <span>Laboratorium</span><br>
            <p> Środa <b>7:30 - 15:00</b><br>
                Piątek <b>8:00 - 10:00</b></p>
        </div>

        <p><a href="registration">Zarejestruj</a> się na wizytę.</p>

    </div>
    <div class="stopka_bottom">

        <a href="privacy_policy" style="color:white;">Polityka prywatności</a>

    </div>


</div>

</body>
</html>