<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylePrivacyPolicy.css">
    <title>PAB Zdrowie - Rezonans | RTG | Diagnostyka | Laboratorium</title>
</head>
<body>
<div class="top_container">
    <a href="index">
        <img src="images/pab_clinic_logo.jpg" alt="Clinic logo" title="PAB CLINIC">
    </a>
</div>
<div class="top_nav" id="my_top_nav">
    <a class="home" href="index">STRONA GŁÓWNA</a>
    <a href="services">USŁUGI</a>
    <a href="prices">CENNIK</a>
    <a class="vip" href="vipatient">VIPACJENT</a>
    <a href="contact">KONTAKT</a>
    <a class="rejestracja" href="login">REJESTRACJA ON-LINE</a>
    <input type="text" placeholder="Szukaj">
</div>

<div class="mid_container">
    <h1>INFORMACJA DLA PACJENTA
        O PRZETWARZANIU DANYCH OSOBOWYCH</h1><br>
    <span>Informujemy, że w związku z wykonywaniem świadczeń opieki zdrowotnej
        przetwarzane są Państwa dane osobowe.</span><br>
    <hr><br>
    <ol type="1">
        <li>Administratorem Pani/Pana danych osobowych jest spółka OGÓLNOPOLSKIE CENTRA MEDYCZNE
            PAB CLINIC sp. z o.o. z siedzibą w Katowicach, ul. Kościuszki 92, 40-523 Katowice.
        </li>
        <br>
        <li>W Spółce OGÓLNOPOLSKIE CENTRA MEDYCZNE PAB CLINIC sp. z o.o.. powołano Inspektora Ochrony
            Danych osobowych. Adres kontaktowy e-mail: pabclinica@gmail.com
        </li>
        <br>
        <li>Pani/Pana dane osobowe przetwarzane będą przez Administratora w celu ochrony stanu zdrowia,
            świadczenia usług medycznych, udzielania świadczeń zdrowotnych (diagnostycznych i leczniczych),
            zarządzania udzielaniem tych usług i świadczeń, zarządzania systemami i usługami opieki
            zdrowotnej oraz diagnozy medycznej i leczenia a także profilaktyki zdrowotnej. Podstawą prawną
            przetwarzania pozyskanych danych osobowych jest art. 9 ust.2 lit. h RODO* w zw. z art. 3 ustawy o
            działalności leczniczej oraz art. 24 ustawy z dnia 6 listopada 2008 r. o prawach pacjenta i Rzeczniku
            Praw Pacjenta. W przypadku, jeżeli wyraził/a Pan/Pani zgodę na przetwarzanie danych w celach
            marketingowych, zebrane w ten sposób dane mogą być wykorzystywane w celu skierowania do
            Pani/Pana komunikacji marketingowej dotyczącej działalności Spółki OGÓLNOPOLSKIE CENTRA MEDYCZNE
            PAB CLINIC sp. z o.o..
        </li>
        <br>
        <li>Podczas świadczenia usług medycznych tworzona jest dokumentacja medyczna, w której
            odnotowujemy wszystkie informacje dotyczące procesu leczenia, w szczególności są tam
            informacje o stanie zdrowia, jak również mogą znaleźć się informacje o nałogach. Informacje te są
            zbierane, gdyż jest to niezbędne do postawienia diagnozy i prowadzenia w sposób właściwy
            procesu leczenia.
        </li>
        <br>
        <li>Pani/Pana dane osobowe będą przechowywane nie dłużej niż jest to konieczne tj. przez okres
            wyznaczony właściwymi przepisami prawa, w tym Ustawą z dnia 6 listopada 2008 r. o prawach
            pacjenta i Rzeczniku Praw Pacjenta. Jeżeli jest Pani/Pan naszym pacjentem i utworzyliśmy
            Pani/Pana dokumentację medyczną, mamy obowiązek przechowywania jej co najmniej przez okres
            20 lat od dnia dokonania w niej ostatniego wpisu. Jeżeli wyraziła Pani/Pan zgodę na przetwarzanie
            danych w celach marketingowych, przetwarzamy Pani/Pana dane od chwili wyrażenia zgody do
            czasu jej cofnięcia. Po upływie wyżej wymienionych okresów Pani/Pana dane są usuwane lub
            poddawane anonimizacji.
        </li>
        <br>
        <li>Posiada Pani/Pan prawo dostępu do treści swoich danych oraz prawo ich sprostowania, usuwania,
            ograniczenia przetwarzania, prawo do przenoszenia danych, prawo wniesienia sprzeciwu - w
            zakresie, w jakim jest to możliwe na podstawie obowiązujących przepisów prawa. Żądania w tym
            zakresie należy kierować do Administratora lub do Inspektora Ochrony Danych.
        </li>
        <br>
        <li>7. W przypadku wyrażenia zgody na przetwarzanie danych w celach marketingowych, przysługuje
            Pani/Panu prawo do cofnięcia zgody w dowolnym momencie. Cofnięcie zgody pozostaje bez
            wpływu na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed jej
            cofnięciem.
        </li>
        <br>
        <li>Administrator nie zamierza przekazywać Pana/Pani danych osobowych do państw trzecich ani
            organizacji międzynarodowych.
        </li>
        <br>
        <h1>INFORMACJA DLA PACJENTA
            O PRZETWARZANIU DANYCH OSOBOWYCH</h1><hr><br>
        <li>Przysługuje Panu/Pani prawo wniesienia skargi do organu nadzorczego, gdy uzna Pani/Pan, iż
            przetwarzanie danych osobowych Pani/Pana dotyczących narusza RODO*. Organem nadzorczym
            od 25 maja 2018 r. jest Prezes Urzędu Ochrony Danych Osobowych.
        </li>
        <br>
        <li>Przekazanie Administratorowi Pani/Pana danych osobowych jest wymogiem ustawowym, dotyczy
            każdego Pacjenta, wobec którego realizujemy cele opisane w punkcie 3. Jako podmiot leczniczy
            Spółka jest zobowiązana do prowadzenia dokumentacji medycznej w sposób określony przepisami
            prawa, w tym do oznaczenia tożsamości pacjenta z wykorzystaniem jego danych osobowych.
            Niepodanie Pani/Pana danych osobowych lub podanie niepełnych danych osobowych może
            znacząco utrudnić lub uniemożliwić realizację przez Administratora celów określonych w punkcie 3.
        </li>
        <br>
        <li>Z uwagi na konieczność zapewnienia Spółce odpowiedniej organizacji np. w zakresie infrastruktury
            księgowej, technicznej, informatycznej czy bieżących sprawach dotyczących działalności Spółki jako
            przedsiębiorcy, jak również realizacji Pani/Pana praw jako pacjenta, dane osobowe mogą być
            przekazywane następującym kategoriom odbiorców:
            <ol type="a">
                <li>innym podmiotom leczniczym, współpracującym ze Spółką w celu zapewnienia ciągłości leczenia
                    oraz dostępności opieki zdrowotnej,
                </li>
                <li>dostawcom usług zaopatrujących Spółkę w rozwiązania techniczne oraz organizacyjne,
                    umożliwiające udzielanie świadczeń zdrowotnych oraz zarządzanie jej organizacją (w
                    szczególności dostawcom usług teleinformatycznych, dostawcom sprzętu diagnostycznego),
                </li>
                <li>dostawcom usług prawnych, rachunkowych, kontrolnych i doradczych oraz wspierających Spółkę
                    w dochodzeniu należnych roszczeń (w szczególności kancelariom prawnym, instytucjom
                    finansowym),
                </li>
                </li>osobom upoważnionym przez Panią/Pana w ramach realizacji praw pacjenta,
                e) innym organom publicznym, instytucjom lub podmiotom upoważnionym na podstawie
                przepisów prawa.</li>
            </ol>
        </li><br>
        <li>W oparciu o udostępnione przez Panią/Pana dane osobowe Administrator nie będzie podejmował
            wobec Pani/Pana zautomatyzowanych decyzji, w tym decyzji będących wynikiem profilowania.
            *Rozporządzenia Parlamentu Europejskiego Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie
            ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego
            przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie
            danych).</li>

    </ol>

</div>


<div class="stopka_container">
    <div class="stopka_left">

        <img src="images/stopka_zdjecie.jpg">


    </div>
    <div class="stopka_right">
        <div class="empty_box_stopka"></div>
        <span><b style="color:white;">OGÓLNOPOLSKIE CENTRA MEDYCZNE PAB CLINIC</b></span>
        <div class="empty_box_stopka"></div>

        <div class="oddzial_poznan">
            <span><u>Oddział Poznań:</u></span>
            <p>Ul. Limanowskiego 10/2<br>60-768 Poznań</p>
            <span>Przychodnia:</span><br><br>
            <p>Poniedziałek – Czwartek: <b>8:00 – 20:00</b><br>
                Piątek: <b>8:00 – 18:00</b><br><br></p>
            <span>Laboratorium</span><br>
            <p>Wtorek: <b>7:30 – 10:00</b><br>
                Czwartek: <b>7:30 – 10:00</b></p>
        </div>

        <div class="oddzial_katowice">
            <span><u>Oddział Katowice:</u></span>
            <p>Ul. Kościuszki 92<br>40-523 Katowice</p>
            <span>Przychodnia:</span><br><br>
            <p>Poniedziałek – Wtorek: <b>7:30 – 21:30</b><br>
                Czwartek - Piątek: <b>10:00 – 18:00</b><br><br></p>
            <span>Laboratorium</span><br>
            <p> Środa <b>7:30 - 15:00</b><br>
                Piątek <b>8:00 - 10:00</b></p>
        </div>

        <p><a href="registration">Zarejestruj</a> się na wizytę.</p>

    </div>
    <div class="stopka_bottom">

        <a href="privacy_policy" style="color:white;">Polityka prywatności</a>

    </div>


</div>

</body>
</html>