<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" th:action="@{/testKalendarz}" method="post">

    <form name="f" th:object="${visitForm}" method="POST">

        <table>
            <tr>
                <td>Wybierz godzinę wizyty</td>
                <td>
                    <select th:field="*{visitTime}">
                        <option value="">Wybierz godzine</option>
                        <option th:each="visit: ${visitsTime}"
                                th:value="${visit.visitTime}"
                                th:text="${visit.visitTime}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Zaplanuj wizytę" name="saveTime">
                </td>
            </tr>
        </table>

    </form>
</form>

</body>
</html>